body {
    font-family: 'Orbitron';sans-serif;
    background: linear-gradient(145deg, #0d0d0d,#1a0033);
    color: #00ffcc;
    text-align: center;
    padding: 3rem;
    background-image: url('https://transparenttextures.com/patterns/stardust.png');
    background-size: cover;
}
h1 {
    font-size: 2,5rem;
    color: #aaff00;
    text-shadow: 0 0 10px #00ffcc;
}
input,button {
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    background-color: #111111;
    color: #00ffcc;
    box-shadow: 0 0 10px #00ffcc;
}
button:hover {
    background-color: #222;
    curser: pointer;
}
#output {
    margin-top: 20px;
    font-size: 1.4rem;
    background: rgba(0, 255, 204, 0.1);
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed #00ffcc;
}
 
@media screen and (max-width: 600px) {
    input, button {
        width: 100%;
        box-sizing: border-box;
    }
}
#list {
 text-align: justify;
} 